Repository DesktopGooseUnofficial/launcher, pull requests merged in 2020-02, with the labels that each got.

#41 test part 2
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github

#42 changed confusing version 1
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#43 give the readme more things
  README.md
Labels: documentation

#45 Add a README button
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#47 Add better download link to readme
  README.md
Labels: documentation

#48 Mention nightly in README
  README.md
Labels: documentation

#49 T A G S
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/ResourceHubLauncher.csproj
  ResourceHubLauncher/RichTextHtml.cs
Labels: launcher

#50 readme
  README.md
Labels: documentation

#51 Fix text
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/Settings.Designer.cs
Labels: launcher

#52 removed unnatural
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#53 G E E S E
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#54 i did bad thing
  README.md
Labels: documentation

#55 not expecting this to work honestly
  .github/workflows/conflicts.yml
Labels: github

#56 examples
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: github

#57 update with exampl es
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github
