Repository DesktopGooseUnofficial/launcher, pull requests merged in 2020-03, with the labels that each got.

#71 H y p e r a p i
  RHL Mod Configurator/RHL Mod Configurator API/Exports.cs
  RHL Mod Configurator/RHL Mod Configurator API/RHL Mod Configurator API.csproj
  RHL Mod Configurator/RHL Mod Configurator/Configurator.cs
  RHL Mod Configurator/RHL Mod Configurator/RHL Mod Configurator.csproj
  RHL Mod Installer/RHL Mod Installer API/Exports.cs
  RHL Mod Installer/RHL Mod Installer API/RHL Mod Installer API.csproj
  RHL Mod Installer/RHL Mod Installer/Installer.cs
  RHL Mod Installer/RHL Mod Installer/RHL Mod Installer.csproj
  ResourceHubLauncher.sln
  ResourceHubLauncher/InstallerAPI.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/Program.cs
  ResourceHubLauncher/RHL Mod Configurator API.dll
  ResourceHubLauncher/RHL Mod Installer API.dll
  ResourceHubLauncher/ResourceHubLauncher.csproj
  ResourceHubLauncher/Settings.Designer.cs
Labels: launcher

#73 Debug test
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#74 Create CODEOWNERS
  .github/CODEOWNERS
Labels: github

#75 Create pull_request_template.md
  .github/pull_request_template.md
Labels: github

#76 Installer API
  RHL Mod Installer/RHL Mod Installer API/Exports.cs
  RHL Mod Installer/RHL Mod Installer/Installer.cs
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/MainForm.resx
  ResourceHubLauncher/RHL Mod Configurator API.dll
  ResourceHubLauncher/RHL Mod Installer API.dll
Labels: launcher

#79 aaa
  RHL Mod Configurator/RHL Mod Configurator API/Exports.cs
  RHL Mod Configurator/RHL Mod Configurator/Configurator.cs
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/MainForm.resx
  ResourceHubLauncher/ModConfigClasses.cs
  ResourceHubLauncher/ModConfigForm.cs
  ResourceHubLauncher/Program.cs
  ResourceHubLauncher/ResourceHubLauncher.csproj
Labels: launcher

#80 Not Tested Configurator API + Showing Mods Only Of Type (Half Done)
  ResourceHubLauncher/ConfiguratorAPI.cs
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/MainForm.resx
  ResourceHubLauncher/ModButton.cs
  ResourceHubLauncher/ModConfigClasses.cs
  ResourceHubLauncher/ModConfigForm.cs
  ResourceHubLauncher/ModConfigForm.resx
  ResourceHubLauncher/RHL Mod Configurator API.dll
  ResourceHubLauncher/ResourceHubLauncher.csproj
Labels: launcher

#84 Change console logs based on if user has updates on or off
  ResourceHubLauncher/Program.cs
Labels: launcher

#85 made it less gay
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/MainForm.resx
  ResourceHubLauncher/ResourceHubLauncher.csproj
  ResourceHubLauncher/Settings.Designer.cs
  ResourceHubLauncher/frmChngLog.Designer.cs
  ResourceHubLauncher/frmChngLog.cs
  ResourceHubLauncher/frmChngLog.resx
Labels: launcher

#86 Revert "made it less gay (#85)"
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/MainForm.resx
  ResourceHubLauncher/ResourceHubLauncher.csproj
  ResourceHubLauncher/Settings.Designer.cs
  ResourceHubLauncher/frmChngLog.Designer.cs
  ResourceHubLauncher/frmChngLog.cs
  ResourceHubLauncher/frmChngLog.resx
Labels: launcher

#88 good night
  RHL Mod Configurator/RHL Mod Configurator/Configurator.cs
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.resx
  ResourceHubLauncher/ModConfigClasses.cs
  ResourceHubLauncher/ModConfigForm.cs
Labels: launcher

#90 Warming
  ResourceHubLauncher/Program.cs
Labels: launcher

#91 also api
  RHL Mod Configurator/RHL Mod Configurator API/Exports.cs
  RHL Mod Configurator/RHL Mod Configurator/Configurator.cs
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/MainForm.resx
  ResourceHubLauncher/ModConfigClasses.cs
  ResourceHubLauncher/ModConfigForm.cs
  ResourceHubLauncher/Program.cs
Labels: launcher

#92 API continue
  Mod Default Installers/Installer1/Installer.dll
  Mod Default Installers/Installer1/SourceCode.cs
  RHL Mod Configurator/RHL Mod Configurator/Configurator.cs
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/MainForm.resx
  ResourceHubLauncher/ModConfigClasses.cs
  ResourceHubLauncher/ModConfigForm.cs
  ResourceHubLauncher/RHL Mod Configurator API.dll
  ResourceHubLauncher/RichTextHtml.cs
Labels: launcher

#95 Queue
  RHL Mod Configurator/RHL Mod Configurator API/Exports.cs
  RHL Mod Configurator/RHL Mod Configurator/Configurator.cs
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/ModButton.cs
  ResourceHubLauncher/ModConfigClasses.cs
Labels: launcher

#97 done
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/MainForm.resx
Labels: launcher

#99 for betatests
  ResourceHubLauncher/Program.cs
Labels: launcher

#100 the most important prep in the history of preps
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/MainForm.resx
Labels: launcher

#101 tweaks to how version numbers are displayed
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#103 README Text Fix
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#104 small tweaks
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#105 Console & description tweaks
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#107 fast fix
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#109 More in Console
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#110 move debug info to console
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#111 fix
  ResourceHubLauncher/MainForm.cs
Labels: launcher

#112 more fix
  ResourceHubLauncher/MainForm.Designer.cs
  ResourceHubLauncher/MainForm.cs
  ResourceHubLauncher/ModButton.cs
Labels: launcher

#114 Add link to Sam's Patreon as a Sponsor button
  .github/FUNDING.yml
Labels: github

#115 Small README rework
  README.md
Labels: documentation
